.spinner{
    animation: spin 1s linear infinite;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #f760e1;
    border-radius: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.country-card{
    background-color: beige;
}

.border-grid{
    display: grid;
}

.error{
    color: red;
}

.hidden{
    display: none;
}